:root {
    --zinc-50: #fafafa;
    --zinc-100: #f4f4f5;
    --zinc-200: #e4e4e7;
    --zinc-300: #d4d4d8;
    --zinc-400: #a1a1aa;
    --zinc-500: #71717a;
    --zinc-600: #52525b;
    --zinc-700: #3f3f46;
    --zinc-800: #27272a;
    --zinc-900: #18181b;

    --violet-50: #faf5ff;
    --violet-100: #f3e8ff;
    --violet-200: #e9d5ff;
    --violet-300: #d8b4fe;
    --violet-400: #c084fc;
    --violet-500: #a855f7;
    --violet-600: #9333ea;
    --violet-700: #7e22ce;
    --violet-800: #6b21a8;
    --violet-900: #581c87;

    --red: #ef4444;
    --green: #22c55e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--zinc-900);
    color: var(--zinc-50);
    min-height: 100vh;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1400px;
    padding: 2rem;
    margin: auto;
    gap: 2rem;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.status-dot {
    background-color: var(--green);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.header-status {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--zinc-700);
    border-radius: 8px;
    padding: 1rem 2rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.metrics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.metrics-card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 320px;
    height: 160px;
    padding: 1rem 2rem;
    border: 1px solid var(--violet-600);
    border-radius: 8px;
    background-color: var(--zinc-800);
}

.metrics-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.metrics-value {
    font-size: 1.25rem;
    font-weight: 400;
}

.metrics-comparation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

table {
    border: 1px solid var(--zinc-400);
    border-radius: 8px;
    text-align: left;
}

th {
    padding: 1rem;
    border-bottom: 1px solid var(--zinc-400);
}

td {
    padding: 1rem;
}

tr:nth-child(even) {
    background-color: var(--zinc-500);
}

.table-status {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.table-status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.warning {
    background-color: yellow;
}

.success {
    background-color: var(--green);
}

.error {
    background-color: var(--red);
}